:root {
    --orange-color: #FD8900 !important;
    --color-principal: #6F3C3C !important;
    --color-secondary: rgba(111, 60, 60, .76) !important;
    --color-tertiary: #C89696 !important;
    --grey-color: #ECF0F1 !important;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: var(--color-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
}

#sidebar,
#navPrincipal li span {
    font-size: 14px;
}

#sidebar {
    background: var(--orange-color);
    width: 100px;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
}

#sidebar::-webkit-scrollbar,
#profileStatus::-webkit-scrollbar,
.notificaciones .card-body::-webkit-scrollbar,
#publicacionHome textarea::-webkit-scrollbar {
    display: none;
}

#sidebar .logo {
    background: var(--color-tertiary);
    color: #fff;
    font-size: 2.5rem;
    position: sticky;
    top: 0;
    height: 65px;
}

#sidebar .nav-link {
    color: var(--grey-color);
    padding: 1rem 0;
    transition: background .5s ease-out;
}

#sidebar .nav-link i {
    font-size: 2rem;
}

#sidebar .nav-link.active,
#sidebar .nav-link:hover {
    background: #fff;
    color: var(--color-principal);
}

#sidebar .nav-link span {
    display: none;
}

#sidebar .nav-link:hover span,
#sidebar .nav-link.active span {
    display: block;
}

#navPrincipal {
    background: var(--orange-color);
    height: 65px;
    color: var(--grey-color);
}

#navPrincipal .dropdown-toggle::after {
    display: none !important;
}

#navPrincipal .avatar.dropdown .nav-link.dropdown-toggle {
    border-radius: 50%;
}

#navPrincipal .dropdown-menu {
    right: 0;
    left: inherit !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

#navPrincipal .dropdown-menu .dropdown-item,
.dropdown-menu .dropdown-item {
    font-size: .9rem;
    color: var(--color-secondary);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #fff;
}

.notificaciones {
    width: 20rem;
}

.notificaciones .card-body {
    max-height: 300px;
    overflow-y: auto;
}

.notificaciones .card-header {
    color: #fff;
    background: var(--color-secondary);
}

.notificaciones .card-footer a {
    color: var(--color-principal) !important;
}

.notificaciones .dropdown-item {
    white-space: inherit;
}

#navPrincipal .nav-link {
    color: var(--grey-color);
    font-size: 1.5rem;
}

#navPrincipal .buscadorPrincipal {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: #EF8100;
    /*display: none;*/
}

#navPrincipal input.form-control {
    color: var(--grey-color);
}

#navPrincipal input.form-control::placeholder,
#btnBuscar {
    color: var(--grey-color);
    opacity: .8;
}

#btnBuscar {
    position: absolute;
    font-size: 2rem;
    right: 4%;
    padding: 0 !important;
}

.avatar {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    object-fit: cover;
}

#publicacionHome {
    border: 2px solid;
    height: 120px;
    /*    min-height: 150px;
    max-height: 400px;*/
    overflow-y: auto;
    border-radius: 15px;
    position: relative;
    background: rgba(236, 240, 241, .41);
}

#publicacionHome textarea {
    background: transparent;
    max-height: 50px;
    min-height: 50px;
}

#publicacionHomeOption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(239, 129, 0, .10);
    font-size: 1.6rem;
    color: var(--color-principal);
}

.avatarPublicacion {
    border: 1px solid var(--color-principal);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#btnPibliye {
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 55px;
    font-weight: bold;
}

#btnPibliye:hover {
    background: var(--orange-color);
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
}

.notificacion {
    position: absolute;
    right: 0;
    top: 3px;
    background: var(--color-principal);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 49px;
    margin-bottom: 1px;
}

#contenidoPrincipal .card {
    margin-bottom: 1.3rem;
}

#contenidoPrincipal .card:last-child {
    margin-bottom: inherit;
}

#kontPopile {
    background: rgba(236, 240, 241, .41);
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 100vh;
    position: sticky;
    top: 5px;
}

.kont {
    background: rgba(239, 129, 0, .10);
    border-top-left-radius: 30px;
}

.titKont {
    background: rgba(239, 129, 0, .36);
    color: var(--color-principal);
    font-weight: bold;
}

#profileStatus {
    overflow-x: auto;
}

#profileStatus .view {
    border-radius: 20px;
}

#profileStatus .view a {
    color: var(--color-principal) !important;
}

.profileStatus {
    position: absolute;
    bottom: 5%;
    left: 45%;
    transform: translateX(-45%);
}

.imgStatus {
    height: 200px;
    width: 100%;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

main .card {
    background: rgba(236, 240, 241, .41);
    /*border-top-left-radius: 30px;
    border-top-right-radius: 30px;*/
}

.perfilPublicacion {
    position: absolute;
    top: 10px;
    left: 10px;
}

.perfilPublicacion .text-light {
    font-size: .8rem;
    letter-spacing: 1.5px;
}

#contenidoPrincipal .card .perfilPublicacion p:first-child {
    text-shadow: 1px 1px 4px #000;
}

main .card p {
    font-size: .9rem;
}

.card-img {
    min-height: 100px;
    object-fit: unset;
}

.likes {
    padding: 1rem;
    font-size: 2rem;
    color: #ccc;
}

.likes:hover {
    color: var(--color-secondary);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.precio {
    position: absolute;
    bottom: 0;
    background: var(--color-secondary);
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: .9rem;
    font-weight: bold;
}

#btnCloseBaChache:hover {
    background: rgba(255, 255, 255, .5);
    height: 100%;
}



@media screen and (max-width:768px) {
    body::-webkit-scrollbar {
        display: none;
        /*    width: .2em;*/
    }

    #lbtnFollowers {
        position: absolute;
        top: 66px;
        right: 4%;
        color: var(--color-principal);
        font-size: 2rem;
        display: block !important;
        z-index: 1;
        background: #fff;
    }

    #rightSidebar {
        position: fixed;
        right: 0;
        background: #fff;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 10px !important;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }

    #rightSidebar.showMobile {
        display: block;
        transform: translateX(0);
    }

    #kontPopile,
    .kont {
        border-top-right-radius: 30px;
    }

    .card-img {
        max-width: 100%;
        height: auto;
        object-fit: fill;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    #sidebar {
        width: 100vw;
        z-index: 10000;
        position: fixed;
        transition: bottom 0.3s;
        bottom: 0;
        height: auto;
    }


    #sidebar.down {
        bottom: -65px;
    }

    #sidebar.up {
        bottom: 0;
    }

    #sidebar nav {
        flex-direction: row !important;
        justify-content: space-between;
        z-index: 1020;
    }

    #sidebar .nav-link i {
        font-size: 1.7rem;
    }

    #sidebar .nav-link {
        padding: .5rem;
        width: 16.20%;
    }

    #sidebar .nav-link span {
        display: none !important;
    }

    #sidebar .logo {
        display: none;
    }

    .likes {
        font-size: 1.5rem;
    }

    .notificacion {
        top: 3px;
        height: 20px;
        width: 20px;
        font-size: 10px !important;
    }

    #content {
        padding-bottom: 70px !important;
    }

    #navPrincipal li.dropdown {
        position: inherit;
    }
}
